html {
    background-color: #bdc3c7
    /* linear-gradient(180deg, rgba(100,149,237,1) 0%, rgba(240,230,140,1) 100%); 
    padding: 0px; */
}
body {
    width: 90%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    /*padding: 2em;*/
    background-color: #e5e5e5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.main {
    margin-left: 16%;
    padding: 1px 16px;
    min-height: 900px 
}
div.element {
    width: 85%;
    padding: 16pt;
    background-color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin: auto;
}
div.tablang {
    display: block;
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
body.__i18n-ko p {
    line-height: 140%
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.ideodesc {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 18pt;
    line-height: 18pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
body.__i18n-ko h2 {
    line-height: 120%;
    margin-top: 0.5em
}
h3 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    line-height: normal;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
dt {
    font-family: 'Montserrat', sans-serif;
}
dd {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 20%;
    min-width: 400pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper-reform {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #b4a7d6;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-preserve {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #45818e;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-stateown {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #626e78;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-market {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #9fc5e8;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-central {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #8e7cc3;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-decentral {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #3c78d8;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-world {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #3d85c6;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-nation {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #073763;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-religious {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #6fa8dc;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-secular {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #1155cc;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-economy {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #7e7791;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-nature {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #5e7db2;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-race {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #a2c4c9;
    display: inline-block;
    font-weight: bold;
}
div.text-wrapper-equality {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #327785;
    display: inline-block;
    font-weight: bold;
}
div.reform {
    background-color: #d9d2e9;
    text-align: left;
    border-right-style: solid;
}
div.preserve {
    background-color: #76a5af;
    text-align: right;
    border-left-style: solid;
}
div.stateown {
    background-color: #768796;
    text-align: left;
    border-right-style: solid;
}
div.market {
    background-color: #cfe2f3;
    text-align: right;
    border-left-style: solid;
}
div.central {
    background-color: #b4a7d6;
    text-align: left;
    border-right-style: solid;
}
div.decentral {
    background-color: #6d9eeb;
    text-align: right;
    border-left-style: solid;
}
div.world {
    background-color: #6fa8dc;
    text-align: left;
    border-right-style: solid;
}
div.nation {
    background-color: #0b5394;
    text-align: right;
    border-left-style: solid;
}
div.religious {
    background-color: #9fc5e8;
    text-align: left;
    border-right-style: solid;
}
div.secular {
    background-color: #3c78d8;
    text-align: right;
    border-left-style: solid;
}
div.economy {
    background-color: #9b92b2;
    text-align: left;
    border-right-style: solid;
}
div.nature {
    background-color: #78a1e5;
    text-align: right;
    border-left-style: solid;
}
div.race {
    background-color: #d0e0e3;
    text-align: left;
    border-right-style: solid;
}
div.equality {
    background-color: #639eab;
    text-align: right;
    border-left-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: 38%;
    margin-right: 22%;
    margin-bottom: -1%;
    width: 40%;
    display: block;
}
img.index {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    width: 80%;
}
img.allvalues {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    width: 60%;
}
#langPicker {
    position: static;
    right: 10em;
    font-size: 20px;
    top: 1em;
}

/*Tabs*/
.tab {
  overflow: hidden;
  display: block;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ccc;
}

.tab button.active {
  background-color: #bbb;
  border-bottom: 2px solid LightSlateGrey;
}

.tabcontent {
  display: block;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Navbar */
div.navdiv {
    display: block;
}

ul.ulnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 14%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 10px solid white;
  font-family: 'Source Sans Pro', sans-serif;
}

li.nav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

rvlogo.nav a {
  display: block;
  color: #444;
  padding: 8px 16px;
  text-decoration: none;
}

#navres a {
  display: block;
  color: #555;
  padding: 8px 16px;
  text-decoration: none;
}

li.nav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li.nav a.activenav {
  background-color: #5dade2;
  color: white;
}

li.nav a:hover:not(.active), #navres a:hover {
  background-color: #888;
  color: white;
}

#bottomnav {
    position: absolute;
    bottom: 20px;
    width: 100%
}

@media only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2) {
  div.navdiv {
    display: none;
  }
  div.main {
    margin-left: 0%;
    min-height: none;
	width: auto !important;
	border-width: 0px !important;  
  }
  body {
    width: auto;
    box-shadow: none;
  }
  html {
    background-color: #e5e5e5
  }
  .tab {
    font-size: 16px;
  }
  canvas {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .button {
    min-width: 0px;
    max-width: 80%;
    width: 80%;
    font-size: 2.5em !important; 
    margin: 
  }
  p.question {
    min-height: 224px;
    min-width: 0px;
    max-width: 80%;
    width: auto;
    font-size: 3.5em !important;
  }
  .small_button, .small_button_off {
    font-size: 2em;
  }
}

/* @media (prefers-color-scheme: dark) {
    html {
        background-color: #666666;
    }
    body {
        box-shadow: none;
        background-color: #222222;
    }
    div.element {
        background-color: #444444;
    }
    div.main {
        background-color: #222222;
    }
    ul.ulnav {
        background-color: #444444;
    }
    li.nav a {
        color: white;
    }
    #navres a {
        color: LightGray;
    }
    h1, h2, p {
        color: white;
    }
    p.question {
        background-color: black;
        color: white;
        box-shadow: none;
    }
    .rvlogo a {
        color: white;
    }
    ul.ulnav {
        border-right: 10px solid #666666;
    }
    .tab button:hover {
        background-color: #444444;
        color: white;
    }
    .tab button.active {
        background-color: #444444;
        color: white;
    }
    .tab button {
        color: white;
    }
    p.ideodesc, dt, dd {
        color: white;
    }
    h1 a, h2 a, p a, p.ideodesc a, dt a, dd a {
        color: LightGray;
    }
} */
